<ion-view view-title="Home">
  <ion-content>
    <leaflet height="295px"
             defaults="mapOptions.defaults"
             tiles="mapOptions.tiles"
             center="mapOptions.center"
             markers="mapOptions.markers"
    >
    </leaflet>
    <div class="places-tiles">
      <div class="places-tiles-item" ng-repeat="place in nearestPlaces">
        <place-tile place="place" on-click="goToPlacePics(place.placeId)"></place-tile>
      </div>
    </div>
  </ion-content>
</ion-view>
