<ion-view view-title="Nearest Pics">
  <ion-content>
    <leaflet height="240px"
             defaults="mapOptions.defaults"
             tiles="mapOptions.tiles"
             center="mapOptions.center"
             markers="mapOptions.markers"
    >
    </leaflet>
    <div class="places-tiles">
        <place-tile ng-repeat="place in nearestPlaces"
                    place="place"
                    on-click="goToPlacePics(place.placeId)"
        >
        </place-tile>
    </div>
  </ion-content>
</ion-view>
