<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="main-nav-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="menu-button button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="search-button button button-icon button-clear"
                ng-class="{
                  'ion-ios-search': platform !== 'android',
                  'ion-android-search': platform === 'android'
                }"
        >
        </button>

        <button class="camera-button button button-icon button-clear"
                ng-class="{
                  'ion-ios-camera': platform !== 'android',
                  'ion-android-camera': platform === 'android'
                }"
        >
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" class="main-content"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="main-menu-header-bar">
      <h1 class="title">HirPics App</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Nearest Pics
        </ion-item>
        <ion-item menu-close href="#/app/my-pics">
          My pics
        </ion-item>
        <ion-item menu-close href="#/app/about">
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
