.place-tile {
  height: 230px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  color: $light;

  &.small {
    width: (100% / 3);
  }

  &.medium {
    width: (100% / 3) * 2;

    &.on-left {
      padding-right: 10px;
    }

    &.on-right {
      padding-left: 10px;
    }
  }

  &.big {
    width: 100%;
  }

  .image-wrapper {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 10px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.2);
      z-index: 1;
    }
  }

  header, footer {
    position: relative;
    z-index: 2;
    line-height: 12px;
  }

  header {
    h4 {
      color: $light;
      margin: 0 0 5px;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      margin: 0;
      font-size: 12px;
      color: #edebeb;
    }
  }

  footer {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 100%;

    p {
      text-align: right;
    }
  }
}
